# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

# macOS
.DS_Store

# Tophandwerk Daten (NICHT versionieren)
Tophandwerk_DB.sqlite3
Tophandwerk_DB.sqlite3-*
../Tophandwerk_Eingang/
../Tophandwerk_Pending/
../Tophandwerk_Done/
../Tophandwerk_Kundenablage/

# Logs
*.log
den/
speichern/

den/
speichern/

den/
speichern/

den/
speichern/
